/*头部*/
.header{
	width: 100%;
	height: 100px;
}
.header-center{
	width: 960px;
	height: 100px;
	margin: 0 auto;
}
.header-right{
	width: 315px;
	height: 100px;
	position: relative;
}
.header-center .header-left{
	float: left;
}
.header-center .header-right{
	float: right;
}
.header-center .header-left img {	
    margin-top: 25px;
}
.header-right a img{
	display: block;
	position: absolute;
	right: 0px;
}
.header-right p{
	font-size: 13px;
	text-align: right;
	margin-top: 18px;
}
.header-right div{
	font-size: 10px;
	margin-top: 36px;
}
.header-right div a{
	color: black;
}

/*logo*/
 #logo{
 	width: 100%;
 	height: 50px;
 	background-color: #9c0001;
 	/*margin-top: -15px;*/
 }
#logo .logo-center{
	width: 960px;
	margin: 0 auto;
}
#logo .logo-center ul li{
	float: left;
	width: 85px;
	line-height:50px ;
	text-align: center;
}
#logo .logo-center ul li:hover{
	transition: 0.3s;
	background:red;
}
.logo-center ul li a{
	color: #ffebdf;
	font-size: 16px;
}

/*大图*/
#picture{
	width: 960px;
	height: 195px;
	margin: 0 auto;
	padding-bottom: 10px;
}


/*主体内容*/
#content{
	width: 960px;
	margin: 0 auto;
	margin-top: 5px;
}
/*左边内容*/
#content .content-left{
	width:685px;
	/*height: 1200px;*/
	border: 1px solid darkgray;
}
.content-left-logo{
	line-height: 30px;
	background-color: #d8d8d8;
	padding-left: 10px;
	font-size: 14px;
}
#content .content-left .content-left-one{
	padding: 10px 15px;
}
.content-left-one>p{
	text-indent: 2em;
	text-align: left;
	line-height: 20px;
}
.content-left-one>h4{
	margin-top: 10px;
	margin-bottom:18px;
}
.content-left-one ul{
	height: 170px;
	padding: 5px 0 10px;
	border-bottom: 1px dashed darkgray;
}
.content-left-one ul li{
	float: left;
	width:320px;
	/*border: 1px solid black;*/
	display: flex;
	margin-right: 5px;
}
.content-left-one-teacher{
	margin-left: 5px;
}
.content-left-one-teacher h4{
	margin-bottom:0px;
	margin-top: 2px;
	text-indent: 0;
}

.content-left-two{
	height:60px;
	line-height:42px;
	margin-left: 15px;
	margin-right: 15px;
	border-bottom:1px dashed gray;
}
#content .content-left .content-left-two button{
	width: 35px;
	height: 27px;
	background-color: #cdcdcd;
}
.content-left>img{
	margin:10px 10px 0;
	border-bottom: 1px dashed darkgray;
}
.content-left-three{
	width: 100%;
	padding: 10px 10px;
}
.content-left-three ul {
	padding:5px auto;
}
.content-left-three ul li {
	position: relative;
	margin:8px auto;
}
.content-left-three ul li img{
	position: absolute;
    top: 5px;
}
.content-left-three ul li a{
	margin-left: 15px;
	/*font-size: 13px;*/
}

/*右侧内容*/
#content .content-right{
	width: 267px;
	height: 1150px;
	position: relative;
}
#content .content-right .content-right-one{
	width: 100%;
	height: 255px;
	border: 1px solid darkgray;
	margin-bottom: 5px;
}
.content-right-one div{
	width: 100%;
	height: 32px;
    line-height: 32px;
    padding-left:10px ;
    background: #d8d8d8;
}
.content-right-one div a{
   position: absolute;
   right: 20px;
}  
.content-right-one ul li{
   margin-top: 10px;
   margin-bottom: 10px;
   font-size:14px;
   position: relative;
}
.content-right-one ul li img{
   position: absolute;
   left: 10px;
   top: 5px;
}
.content-right-one ul li a{
   margin-left: 20px;
}

#content .content-right .content-right-two{
	width: 100%;
	height: 255px;
	border: 1px solid darkgray;
	margin-bottom: 5px;
}
.content-right-two div{
	height: 32px;
    line-height: 32px;
    padding-left:10px ;
    background: #d8d8d8;
}
.content-right-two div a{
   position: absolute;
   right: 20px;
}  
.content-right-two ul li{
   margin-top: 10px;
   margin-bottom: 10px;
   font-size:14px;
   position: relative;
}
.content-right-two ul li img{
   position: absolute;
   left: 10px;
   top: 5px;
}
.content-right-two ul li a{
   margin-left: 20px;
}
/*老师*/
#content .content-right .content-right-three{
	width: 100%;
	height: 255px;
	border: 1px solid darkgray;
	margin-bottom: 7px;
}
.content-right-three>div{
    width:100%;
    height: 32px;
    line-height: 32px;
    padding-left:10px ;
    background: #d8d8d8;
}
.content-right-three ul{
	padding: 5px;
}
.content-right-three>div a{
   position: absolute;
   right: 20px;
}
.content-right-three ul li{
    width: 100%;
    height: 70px;
    padding: 5px 5px;
}
.content-right-three ul li:nth-of-type(1),
.content-right-three ul li:nth-of-type(2){
    border-bottom: 1px solid gray;
}
.content-right-three ul li div:nth-of-type(2){
    width: 178px;
    font-size: 13px;
    margin-left: 5px;
}
.content-right-three ul li h4{
    margin-bottom: 5px;
}


#content .content-right .content-right-four{
	width: 100%;
	height:138px;
	border: 1px solid darkgray;
	/*padding: 0 10px;*/
}
.content-right-four p{
	line-height: 32px;
	background-color: #d8d8d8;
	padding:0 10px;
}
.content-right-four div{
	padding-left: 10px;
}
.content-right-four div span{
	display: block;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content-right-four div input{
	width:135px;
	height: 25px;
}
.content-right-four div button{
	height: 25px;
	width: 50px;
}

/*页脚*/
#footer{
	border-top: 1px solid darkgray ;
	margin-top:10px;
	background: #f7f7f7;
}
#footer .footer-center{
	width:960px;
	height:200px;
	margin: 0 auto;
}
.footer-center div{
	margin:10px 0 20px 0;
	font-size: 13px;
	color: #363861;
}
.footer-center p{
	font-size: 13px;
    font-weight:bold;
}