*{
	color: black;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
.lf{
	float: left;
}
.rf{
	float: right;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.rel{
	position: relative;
}
.abs{
	position: absolute;
}
